<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/css/pub_home.css">
<title>猫吧客</title>
</head>
<body>
<div id="header">
    <img src="../static/img/girl.jpg">
</div>
<div class="block">
    <div class="title">猫吧客</div>
    <hr>
    <p>
        对，我就是猫吧客！
        <br>
        那一夜，猫吧客来袭。
        <br>
        后来，猫吧客又来袭。
        <br>
        今天，又来袭。
        <br>
        复读机模式 ...
    </p>
</div>
<div class="block">
    <div class="title">联系方式</div>
    <hr>
    <p>地址：我在中国大陆的某个地方</p>
    <p>电话：110 - 120119</p>
</div>
<div id="footer"></div>
</body>
</html>