<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/css/pub_home.css">
<title>{{ pub.name }}</title>
</head>
<body>
<div id="header">
    <img src="{{ pub.picture_url() }}">
</div>
<div class="block">
    <div class="title">{{ pub.name }}</div>
    <hr>
    <p>{{ pub.intro }}</p>
</div>
<div class="block">
    <div class="title">联系方式</div>
    <hr>
    <p>地址：{{ pub.address }}</p>
    <p>电话：{{ pub.tel }}</p>
</div>
<div id="footer"></div>
</body>
</html>