<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/css/pub_home.css">
<title>{{ pub.name }}</title>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
    });
    var dataForWeixin={
        appId: "{{ pub.appid }}",
        MsgImg: "{{ pub.picture_url() }}",
        TLImg: "{{ pub.picture_url() }}",
        url: "{{ content_url }}",
        title: "{{ pub.name }}",
        desc: "{{ pub.intro }}",
        fakeid:"",
        callback:function(){}
    };
    (function(){
        var onBridgeReady=function(){
            WeixinJSBridge.on('menu:share:appmessage', function(argv){
                WeixinJSBridge.invoke('sendAppMessage',{
                    "appid":dataForWeixin.appId,
                    "img_url":dataForWeixin.MsgImg,
                    "img_width":"120",
                    "img_height":"120",
                    "link":dataForWeixin.url,
                    "desc":dataForWeixin.desc,
                    "title":dataForWeixin.title
            }, function(res){(dataForWeixin.callback)();});
        });
        WeixinJSBridge.on('menu:share:timeline', function(argv){
            (dataForWeixin.callback)();
            WeixinJSBridge.invoke('shareTimeline',{
                "img_url":dataForWeixin.TLImg,
                "img_width":"120",
                "img_height":"120",
                "link":dataForWeixin.url,
                "desc":dataForWeixin.desc,
                "title":dataForWeixin.title
        }, function(res){});
    });

    WeixinJSBridge.on('menu:share:weibo', function(argv){
        WeixinJSBridge.invoke('shareWeibo',{
            "content":dataForWeixin.title,
            "url":dataForWeixin.url
    }, function(res){(dataForWeixin.callback)();});
    });
    WeixinJSBridge.on('menu:share:facebook', function(argv){
        (dataForWeixin.callback)();
        WeixinJSBridge.invoke('shareFB',{
            "img_url":dataForWeixin.TLImg,
            "img_width":"120",
            "img_height":"120",
            "link":dataForWeixin.url,
            "desc":dataForWeixin.desc,
            "title":dataForWeixin.title
    }, function(res){});
    });
    };
        if (document.addEventListener) {
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        } else if (document.attachEvent) {
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    })();
</script>
</head>
<body>
<div id="header">
    <img src="{{ pub.picture_url() }}">
</div>
<div class="block">
    <div class="title">{{ pub.name }}</div>
    <hr>
    <p>{{ pub.intro }}</p>
</div>
<div class="block">
    <div class="title">联系方式</div>
    <hr>
    <p>地址：{{ pub.address }}</p>
    <p>电话：{{ pub.tel }}</p>
</div>
<div id="footer"></div>
</body>
</html>